html,body,.App, #root{
  width: 100%;
  font-family: "Roboto Slab", "Times New Roman",'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
}
button{
  color: blue !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-parent{
  background-color: #eeeeee !important;
}

.title-div{
  background: linear-gradient(180deg, #6DBCCD 0%, rgba(140, 138, 245, 0.78) 100%);
  height: 35%;
  color:white;
  font-weight: 400;
  position: relative;
}

.gpa-card-div{
  position:absolute;
  top: 80%;
  width: 75%;
  background-color: white;
  color: black;
  font-weight: 400;
}


.add_semester{
  border-radius: 50% !important;
  margin-left: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.semester_btn{
  border-radius: 22px !important;
  padding-right: 25px;
  padding-left: 25px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.semester_name{
  font-weight: 700;
  color: black;
  border-bottom: 1px solid black;
}


.card-header-div{
  background: #f4f6f8;
}

.border-right{
  border-right: 1px solid;
}

.course-title{
  border:none;
  background: transparent;
  display: inline-block;
  width: 100%;
}

.course-title:hover{
  border: 1px solid black;
}

#course-credit{
  max-width: 60px;
}

.col-header{
  padding: 20px;
}

